/*

COLORS

teal: #7ACFCA
light teal: #C7EEE4
green: #599641
yellow (correct spot): #FDDE59
blue (wrong spot): #5271FF
gray (wrong): #A6A6A6

*/

/* GENERAL */

* {
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: #7ACFCA;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 25px;
}

/* GAME BOARD (grid) */

input {
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  border: none;
}

input:focus {
  outline: none;
  border: 2px solid #FDDE59;
}

.correct-location {
  background-color: #FDDE59;
}

.wrong-location {
  background-color: #5271FF;
}

.wrong {
  background-color: #A6A6A6;
}

/* GUESS BUTTON */

button {
  border: none;
  padding: 5px;
  font-size: 20px;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error-message {
  font-size: 16px;
  font-weight: normal;
}

/* NAV BUTTONS (right side) */

nav {
  display: flex;
  flex-direction: column;
}

.nav-button {
  margin-top: 10px;
  width: 200px;
  margin-right: -160px;
  color: #C7EEE4;
  background-color: #599641;
  letter-spacing: 2px;
}

.nav-button:hover {
  background-color: #C7EEE4;
  color: #599641;
}

.active {
  color: #599641;
  background-color: #FDDE59;
}

/* LETTERS KEY (left side) */

.correct-location-key {
  color: #FDDE59;
}

.wrong-location-key {
  color: #5271FF;
}

.wrong-key {
  color: #A6A6A6;
}

#key-section {
  padding: 25px;
  padding-top: 0;
  text-align: center;
}

/* RULES & STATS */
#rules-section,
#stats-section {
  text-align: center;
}

h3 {
  font-size: 25px;
}

.informational-text {
  font-size: 16px;
  font-weight: normal;
}

.example-text {
  margin-top: 75px;
}

.example-text > span {
  font-size: 35px;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}

.example-correct-location {
  background-color: #FDDE59;
}

.example-wrong-location {
  background-color: #5271FF;
}

.example-wrong {
  background-color: #A6A6A6;
}

/* HIDDEN ELEMENTS */
.hidden {
  visibility: hidden;
}

.collapsed {
  display: none;
}
