/*
COLORS
  teal: #7ACFCA
  light teal: #C7EEE4
  green: #599641
  yellow (correct spot): #FDDE59
  blue (wrong spot): #5271FF
  gray (wrong): #A6A6A6
*/

/* GENERAL */

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #7acfca;
}

main {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 25px;
}

#key-section,
#game-section,
#rules-section,
#stats-section,
#game-over-section,
nav {
  width: 33%;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 45px;
}

img {
  width: 20%;
}

.space-holder {
  width: 20%;
}

/* GAME BOARD (grid) */

table {
  margin: auto;
}

input {
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  border: none;
  margin: 3px;
}

input:focus {
  outline: none;
  border: 2px solid #fdde59;
}

.correct-location {
  background-color: #fdde59;
}

.wrong-location {
  background-color: #5271ff;
}

.wrong {
  background-color: #a6a6a6;
}

/* GUESS BUTTON */

button {
  border: none;
  padding: 5px;
  font-size: 20px;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#error-message {
  font-size: 16px;
  font-weight: normal;
}

/* NAV BUTTONS (right side) */

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-button {
  margin-top: 10px;
  width: 200px;
  color: #c7eee4;
  background-color: #599641;
  letter-spacing: 2px;
}

.nav-button:hover {
  background-color: #c7eee4;
  color: #599641;
}

.active {
  color: #599641;
  background-color: #fdde59;
}

/* LETTERS KEY (left side) */

.correct-location-key {
  color: #fdde59;
}

.wrong-location-key {
  color: #5271ff;
}

.wrong-key {
  color: #a6a6a6;
}

#key-section {
  padding: 25px;
  padding-top: 0;
  text-align: center;
}

/* RULES & STATS & GAME OVER */

#rules-section,
#stats-section,
#game-over-section {
  text-align: center;
}

h3 {
  font-size: 25px;
}

.informational-text {
  font-size: 16px;
  font-weight: normal;
  margin: 25px;
}

.example-text {
  margin-top: 75px;
}

.example-text > span {
  font-size: 35px;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}

.example-correct-location {
  background-color: #fdde59;
}

.example-wrong-location {
  background-color: #5271ff;
}

.example-wrong {
  background-color: #a6a6a6;
}

/* HIDDEN ELEMENTS */
.hidden {
  visibility: hidden;
}

.collapsed {
  display: none;
}
